p {
  font-family: Lato;
}
html,
body {
  margin: 0;
  /* height: 100vh; */
  min-height: 100vh;
}
li.nav-item {
  text-align: end;
}
:host
  ::ng-deep
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-bar {
  background-color: #9e9e9e;
}
:host
  ::ng-deep
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-thumb {
  background-color: #3579f6;
}
.dark {
  background-color: #202124;
  color: white;
}
.light {
  background-color: whi#dfe6e9;
  color: black;
}
