<div class="container">
  <div class="jumbotron1 mt-4">
    <h1 class="display-4">Hi, I am Sajeeha</h1>
    <br />
    <br />
    <p class="lead">
      I am a Creative and self-starting Front-End Developer with 3+ years of
      experience in building stable websites and web applications in fast-paced,
      collaborative environments. Highly skilled in Angular , Angular JS ,HTML
      ,CSS ,JavaScript and working knowledge of JQuery and Well-versed in Scrum
      and Agile.
    </p>

    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
  </div>

  <!-- <div class="card mt-4" style="width: 18rem;">
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div> -->
  <!-- 
        <div class="card mt-4" style="width: 18rem;">
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
</div> -->
</div>
